.video{
    z-index:3;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: center; /* Safari 6.1+ */
    display: flex;
    justify-content: center;
    flex-grow: 0; /*do not grow 0 is default*/
    flex-basis: auto;
    
}
.welcome_p {
  z-index: 3;
 color:rgb(36,44,68);
 font-size: 20px;
 flex-grow: 2;     /* do not grow   - initial value: 0 */
 flex-shrink: 1;   /* do not shrink - initial value: 1 */
 flex-basis: 0; /* width/height  - initial value: auto */
 padding-left: 20px;
 margin-top: 50px;
 /*text-shadow: 2px 2px 4px #000000;*/
}