
body {

  line-height: 1.5;
  background-color: white;
  /*background-color: rgb(36,44,68);*/
  /*background-color: rgb(52,97,132);*/
  font-family: 'Chivo', sans-serif;
  margin: 0px;
  z-index: 0;

}
/* Navegation section with logo*/
header{
  width: 100%;
  height: 20%;
}

/*Navigation*/
nav {
  position: fixed;
  display: inline-block;
  padding-right: 10px;
  font-family: 'Titillium Web', sans-serif;
  font-size: 130%;
  line-height: 2;
  display: flex;
  justify-content: space-around;
}

header a {
  color: white;
  text-decoration: none;
}

p {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
.navbar {
  margin-bottom: 0; /* removes default excess margin */
}

.zennav{
position: fixed;
z-index:3;
width: 100%;
top:0;
left: 0;
/*background: rgb(54,97,132);*/
background-color: rgb(36,44,68);/*donde esta la navegacion el oscuro*/
height: 75px;
display: -webkit-flex; /* Safari */
-webkit-justify-content: center; /* Safari 6.1+ */
display: flex;
justify-content: space-around;
box-shadow: 0px 1px 2px /*rgb(207,208,209)*/ black;
flex-direction: row;
align-items: center;

}

.nav-sec {
  display: flex;
}

.nav-link {
  margin-top:5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.content {
 color:black;
 background-color: white;
 padding-right: 60px;
 padding-left: 60px;
 z-index: 0;
 padding-top: 2px;
 
}

h1 {
	font-size: 30px;
	font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: -10px;
  text-align: center;
}

h2 {
	font-size: 30px;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}
h3{
  font-size: 20px;
  text-align: center;
  margin-bottom: : 200px;
  font-family: 'Roboto Condensed', sans-serif;
}

a {
	/*color: #BFE35B;*/
  color:blue;
	text-decoration: none;
}
img {
  padding-top:9px;
  /*width:100%;
  height:100%;
  */
}

.imagenav{
  width: 90px;
  padding: 5px;
  /*border-radius: 70px; */ 

}
#zenbanner{
  width: 100%;
  /*background-color: rgb(36,44,68);*/
  /*background: rgb(54,97,132);*/
  background-size: white;
  margin-top: 2px;
  height: 600px;
  position: relative;
  overflow: hidden;
  /*background-image: url("../images/90.png");*/
 background-repeat: repeat;
 background-size: 145%;
}

#zenbanner:before {
content: ""; 
position: absolute; 
width: 100%; 
height: 100%; 
top: 0%; 
left: 0%; 
z-index: -1; 
/*background-image: url("../images/90.png");*/
background-repeat: repeat;
/*background: url(ima90.png) 0 0 repeat;*/ 
-webkit-transform: rotate(-30deg); 
-moz-transform: rotate(-30deg); 
-ms-transform: rotate(-30deg); 
-o-transform: rotate(-30deg); 
transform: rotate(-30deg);
 }

 .button {
    margin: 3px; 
    /*background-color: #4CAF50;*/
    background-color: rgb(255,213,41);
    border-radius: 5px;
    color: white;
    padding: 12px 20px;*/
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: medium;
    /*margin: 4px 2px;*/
    cursor: pointer;
}
 

.video{
    z-index:3;
    display: -webkit-flex; /* Safari */
    -webkit-justify-content: center; /* Safari 6.1+ */
    display: flex;
    justify-content: center;
    margin-top: 50px;
    flex-grow: 0; /*do not grow 0 is default*/
    flex-basis: auto;
    padding-left: 20px;
}

.welcome_p {
  z-index: 3;
 color:rgb(36,44,68);
 font-size: 20px;
 flex-grow: 2;     /* do not grow   - initial value: 0 */
 flex-shrink: 1;   /* do not shrink - initial value: 1 */
 flex-basis: 0; /* width/height  - initial value: auto */
 padding-left: 20px;
 margin-top: 50px;
 /*text-shadow: 2px 2px 4px #000000;*/
 
}

.slogan {
  color:white;
  background-color: rgb(54,97,132);
  /*background-color: rgb(36,44,68);*/
  height: 200px;
  padding-top: 2px;
  z-index:1;
  /*text-shadow: 2px 2px 4px #000000;*/
}


.container{
  z-index: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  height: 400px;

}
.zentext{

  font-size: 20px;
  color:black;
}

.box{

  width: 60%;
  
}

.middlesection{
 

}
.fotoabajo{
  width: 180px;
  padding-bottom: 30px;
  opacity: 0.2;
  padding-left: 970px;

}
footer { 
    display: block;
    height: 200px;
    font-size: 15px;
    background-color: rgb(36,44,68);
    /*background-color: rgb(54,97,132);*/
    color:white;
    text-align: center;
    margin-top: 20px;


}


